<h1>Patient Cart</h1>
<% if @cart.empty? %>
        <p>Nothing in cart</p>
<% end %>

<% total = 0 %>

<table class = "cart">
    <tr>
        <td class = "legend"></td>
        <td class = "legend">Appointment</td>
        <td class = "legend"></td>
        
        
    </tr>
</table>


#needs to be finished when we figure out how to implement properly